/* letras: carme, roboto, montserrat */
@import url('https://fonts.googleapis.com/css2?family=Carme&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	--colorbg1: #252525;
	--colorbg2: #353535;
	--color1: #ffa500;
	--color2: #ff8c00;
	--color3: #ff4500;
	--colorfont1: #ccc;
	--colorfont2: #5f5f5f;
}

html {
	scroll-behavior: smooth;
}

* {
	font-family: 'Montserrat', 'Carme', 'sans-serif';
	font-weight: 400;
	color: var(--colorfont1);
	box-sizing: border-box;
	/* border: 1px solid white; */
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--colorbg1);
}

@keyframes flou {
	from {
		transform: translateX(-20px);
		filter: blur(2px);
	}
	to {
		transform: translateX(0);
		filter: blur(0);
	}
}

/**HEADER NAVBAR**/

header {
	background-color: var(--colorbg2);
	height: 60px;
	width: 100%;
	position: sticky;
	top: 0;
	box-shadow: 0px 3px 3px 0 var(--color2);
	transition: box-shadow 1s;
	z-index: 999999999999999;
}

.shadowHeader {
	box-shadow: 1px 6px 5px 2px rgba(255, 140, 0, 0.674);
}

header a {
	text-decoration: none;
	color: white;
}

.progressBar-container {
	width: 100%;
	height: 4px;
	background-color: #777777;
}

.progressBar {
	height: 100%;
	width: 0%;
	background-color: var(--color2);
	transition: all 0.5s;
}

/**NAVBAR**/

.navbar {
	display: flex;
	justify-content: space-between;
	height: 100%;
	width: 100%;
}

.logo {
	height: 100%;
	display: flex;
	align-items: center;
	padding-left: 5px;
	font-size: clamp(1.5rem, 5vw, 2.2rem);
}

.logo a {
	transition: color 0.5s;
}

.logo a:hover {
	color: var(--color2);
}

.nav-ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	height: 56px;
	padding-right: 15px;
}

.nav-ul li {
	padding: 0 10px;
}

.nav-ul a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 56px; /*En lugar de 60px debido a los 4px de la progressBar*/
	width: 120px;
	font-size: 1.5rem;
}

.nav-ul li:hover {
	background-color: var(--color2);
	transform: skew(-30deg);
}

.nav-ul li:hover a {
	transform: skew(30deg);
}

/*ICONO HAMBURGER*/

.hamburger {
	display: none;
	cursor: pointer;
	flex-direction: column;
	justify-content: center;
	padding: 5px;
}

.hamburger :first-child {
	/*1ere barre pas de margin top*/
	margin-top: 0;
}

.bar1,
.bar2,
.bar3 {
	margin-top: 6px;
	width: 35px;
	height: 6px;
	border-radius: 5px;
	background-color: white;
	transition: all 0.7s;
}

.open .bar1,
.open .bar2,
.open .bar3 {
	background-color: var(--color2);
}

.open .bar1 {
	transform: translateY(200%) rotate(-45deg);
}

.open .bar2 {
	opacity: 0;
	transform: rotate(45deg);
}

.open .bar3 {
	transform: translateY(-200%) rotate(45deg);
}

.noScroll {
	overflow: hidden;
}

/* PUNTERO MOUSE POINTER CURSOR */
#pointer__container {
	position: relative;
	width: 100%;
	height: 360px;
}
#pointer {
	position: absolute;
	width: 80px;
	height: 80px;
	cursor: none;
	/*pointer-events: none;  Evita que el puntero afecte a los elementos debajo */
	background-image: url(../icons/welding.svg);
	background-size: cover;
	clip-path: inset(0);
}

/**Footer**/

footer {
	height: 200px;
	color: var(--colorfont2);
	background-color: var(--colorbg2);
	box-shadow: 0px -3px 3px 0 var(--color2);
	transition: box-shadow 1s;
}

.shadowFooter {
	box-shadow: 1px -6px 5px 2px rgba(255, 140, 0, 0.674);
}

/*MEDIA QUERIES- RESPONSIVE*/

@media (max-width: 800px) {
	/* NAVBAR */
	.hamburger {
		display: flex;
	}
	.nav-ul {
		position: fixed;
		top: 60px;
		left: -100%;
		width: 100%;
		height: 100%;
		flex-direction: column;
		-webkit-backdrop-filter: blur(4px);
		backdrop-filter: blur(4px);
		background-color: rgba(0, 0, 0, 0.4);
		transition: transform 0.5s ease-out;
	}
	.slide {
		transform: translate(100%);
	}
	.nav-ul li {
		justify-content: left;
		margin-left: 15px;
		/* padding-left: 5px; */
		width: 50%;
		border-bottom: 1px solid rgba(192, 127, 6, 0.2);
	}
}
