/* letras: carme, roboto, montserrat */
@import url('https://fonts.googleapis.com/css2?family=Carme&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	--colorbg1: #252525;
	--colorbg2: #353535;
	--color1: #ffa500;
	--color2: #ff8c00;
	--color3: #ff4500;
	--colorfont1: #ccc;
	--colorfont2: #5f5f5f;
}

html {
	scroll-behavior: smooth;
	color: var(--colorfont1);
}

* {
	font-family: 'Montserrat', 'Carme', 'sans-serif';
	font-weight: 400;

	box-sizing: border-box;
	cursor: url(../assets/icons/welding.svg), pointer;
	/* border: 1px solid white; */
}

*::selection {
	background-color: var(--color2);
	color: #ffffff;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--colorbg1);
	min-height: 100vh;
	overflow-x: hidden;
	scroll-behavior: smooth;
	letter-spacing: 1.5px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	padding: 10px;
}

/* KEYFRAMES */
@keyframes pulse {
	from {
		transform: scale(0.8);
	}
	to {
		transform: scale(1.2);
	}
}

@keyframes floating {
	0% {
		transform: translate(0, 0px);
	}
	50% {
		transform: translate(0, 10px);
	}
	100% {
		transform: translate(0, -0px);
	}
}

/**HEADER NAVBAR**/

header {
	background-color: var(--colorbg2);
	height: 60px;
	width: 100%;
	position: sticky;
	top: 0;
	box-shadow: 0px 3px 3px 0 var(--color2);
	transition: box-shadow 1s;
	font-size: 1.5em;
	z-index: 999999999999999;
}

.shadowHeader {
	box-shadow: 1px 6px 5px 2px rgba(255, 140, 0, 0.674);
}

header a {
	text-decoration: none;
	color: #fff;
	width: 100%;
}

.progressBar-container {
	width: 100%;
	height: 4px;
	background-color: #777777;
}

.progressBar {
	height: 100%;
	width: 0%;
	background-color: var(--color2);
	transition: all 0.5s;
}

/**NAVBAR**/

.navbar {
	display: flex;
	justify-content: space-between;
	height: 100%;
	width: 100%;
}

.logo {
	height: 100%;
	display: flex;
	align-items: center;
	padding-left: 5px;
}

.logo a {
	transition: color 0.5s;
}

.logo a:hover {
	color: var(--color2);
}

.nav-ul {
	display: flex;
	margin: 0;
	padding-left: 20px;
	list-style: none;
	height: 56px;
	padding-right: 15px;
	position: relative;
	overflow: hidden;
}

.nav-ul li {
	padding: 0 10px;
}

.nav-ul li a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 56px; /*En lugar de 60px debido a los 4px de la progressBar*/
	width: 120px;
}

.nav-ul li:hover,
.nav-ul li.active {
	background-image: linear-gradient(var(--color1), var(--color2));
	transform: skew(-30deg);
}

.nav-ul li:hover a,
.nav-ul li.active a {
	transform: skew(30deg);
}

/* mover boton hacia arriba y aparece nuevo desde abajo */
.mother {
	position: relative;
	top: 0;
	opacity: 1;
	transition: 0.3s;
}

.mother2 {
	position: absolute;
	top: 100%;
	opacity: 0;
	transition: 0.3s;
	display: none;
}

.nav-ul li:hover .mother {
	opacity: 0;
	top: -50px; /* Ajusta esta valor según tu necesidad para moverlo hacia arriba */
}

.nav-ul li:hover .mother2 {
	opacity: 1;
	top: 0;
}

/*ICONO HAMBURGER*/

.hamburger {
	display: none;
	cursor: pointer;
	flex-direction: column;
	justify-content: center;
	padding: 5px;
}

.hamburger :first-child {
	/*1ere barre pas de margin top*/
	margin-top: 0;
}

.bar1,
.bar2,
.bar3 {
	margin-top: 6px;
	width: 35px;
	height: 6px;
	border-radius: 5px;
	background-color: white;
	transition: all 0.7s;
}

.open .bar1,
.open .bar2,
.open .bar3 {
	background-color: var(--color2);
}

.open .bar1 {
	transform: translateY(200%) rotate(-45deg);
}

.open .bar2 {
	opacity: 0;
	transform: rotate(45deg);
}

.open .bar3 {
	transform: translateY(-200%) rotate(45deg);
}

.noScroll {
	overflow: hidden;
}

/* PORTADA */
#portada {
	width: 100%;
	height: 100vh;

	position: relative;
}
.portada__titulo {
	position: absolute;
}

.portada__titulo h1 {
	font-size: 8em;
	color: #fff;
}

.portada__titulo h3 {
	font-size: 2em;
	color: #fff;
}

.portada__video {
	opacity: 0.5;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

/* BOTON WHATSAPP FLOTANTE */

.btn-wsp {
	display: none;
	position: fixed;
	width: 55px;
	height: 55px;
	line-height: 55px;
	bottom: 110px;
	right: 30px;

	background-image: linear-gradient(#0df053, #1daf4b);
	color: #fff;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.9);
	z-index: 1;
	animation: pulse 2s infinite ease-in-out alternate;
	transition: 0.3s;
}

.btn-wsp:hover {
	text-decoration: none;
	background-image: linear-gradient(var(--color1), var(--color2));
	color: #000;
	transition: 0.3s;
}

/* BOTON ARRIBA- UP */
.btn-up {
	display: none;
	position: fixed;
	width: 55px;
	height: 55px;
	line-height: 55px;
	bottom: 30px;
	right: 30px;
	background-image: linear-gradient(var(--color1), var(--color2));
	color: #fff;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.9);
	z-index: 1;
	transition: 0.3s;
	animation: floating 9s infinite ease-in-out alternate;
}

.btn-up:hover {
	text-decoration: none;
	background-image: linear-gradient(var(--color1), var(--color2));
	color: #000;
	transition: 0.3s;
}

.show-btn {
	display: block;
}

.hide-btn {
	display: none;
}

/**Footer**/

footer {
	height: 200px;
	color: var(--colorfont2);
	background-color: var(--colorbg2);
	box-shadow: 0px -3px 3px 0 var(--color2);
	transition: box-shadow 1s;
}

.shadowFooter {
	box-shadow: 1px -6px 5px 2px rgba(255, 140, 0, 0.674);
}

/*MEDIA QUERIES- RESPONSIVE*/

@media (max-width: 800px) {
	/* NAVBAR */
	.hamburger {
		display: flex;
	}
	.nav-ul {
		position: fixed;
		top: 60px;
		left: -100%;
		width: 100%;
		height: 100%;
		flex-direction: column;
		-webkit-backdrop-filter: blur(4px);
		backdrop-filter: blur(4px);
		background-color: rgba(0, 0, 0, 0.4);
		transition: transform 0.5s ease-out;
		overflow: hidden;
	}
	.slide {
		transform: translate(100%);
	}
	.nav-ul li {
		justify-content: left;
		margin-left: 15px;
		/* padding-left: 5px; */
		width: 50%;
		border-bottom: 1px solid rgba(192, 127, 6, 0.2);
	}

	/* efecto texto en NAVBAR responsive */
	.mother {
		position: relative;
		left: 0;
		opacity: 1;
		transition: 0.3s;
	}

	.mother2 {
		position: absolute;
		left: 50px;
		opacity: 0;
		transition: 0.3s;
		display: none;
	}

	.nav-ul li:hover .mother {
		opacity: 0;
		left: -50px;
	}

	.nav-ul li:hover .mother2 {
		opacity: 1;
		left: 0;
	}
}
