/* letras: carme, roboto, montserrat */
@import url('https://fonts.googleapis.com/css2?family=Carme&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	--colorbg1: #252525;
	--colorbg2: #353535;
	--color1: #ffa500;
	--color2: #ff8c00;
	--color3: #ff4500;
	--colorfont1: #ccc;
	--colorfont2: #5f5f5f;
}

html {
	scroll-behavior: smooth;
	color: var(--colorfont1);
}

* {
	font-family: 'Montserrat', 'Carme', 'sans-serif';
	font-weight: 400;
	box-sizing: border-box;
	cursor: url(../assets/icons/welding.svg), auto;
	/* border: 1px solid white; */
}

*::selection {
	background-color: var(--color2);
	color: #ffffff;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--colorbg1);
	min-height: 100vh;
	overflow-x: hidden;
	scroll-behavior: smooth;
	letter-spacing: 1.5px;
}

::-webkit-scrollbar {
	width: 1em;
	height: 1em;
	background-color: var(--colorbg2);
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(
				to top right,
				var(--colorbg2) 49%,
				transparent 50%
			)
			bottom left,
		linear-gradient(to bottom left, var(--colorbg2) 49%, transparent 50%) top
			right,
		var(--color2);
	background-size: 1em 1em;
	background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
}

p {
	padding: 10px;
	margin: 0px;
	text-align: justify;
}

b {
	font-weight: 700;
}

/* KEYFRAMES */
@keyframes pulse {
	from {
		transform: scale(0.8);
	}
	to {
		transform: scale(1.2);
	}
}

@keyframes floating {
	0% {
		transform: translate(0, 0px);
	}
	50% {
		transform: translate(0, 10px);
	}
	100% {
		transform: translate(0, -0px);
	}
}

/**HEADER NAVBAR**/

header {
	background-color: var(--colorbg2);
	height: 60px;
	width: 100%;
	position: sticky;
	top: 0;
	box-shadow: 0px 3px 3px 0 var(--color2);
	transition: box-shadow 1s;
	font-size: 2.1vw;
	z-index: 999999999999999;
	cursor: pointer;
}

.shadowHeader {
	box-shadow: 1px 6px 5px 2px rgba(255, 140, 0, 0.674);
}

header a {
	text-decoration: none;
	color: #fff;
	width: 100%;
	cursor: pointer;
}

.progressBar-container {
	width: 100%;
	height: 4px;
	background-color: #777777;
}

.progressBar {
	height: 100%;
	width: 0%;
	background-color: var(--color2);
	transition: all 0.5s;
}

/**NAVBAR**/

.navbar {
	/* display: flex;
	justify-content: space-between; */
	display: grid;
	grid-template-columns: 1.2fr 2fr;
	height: 100%;
	width: 100%;
}

.logo {
	height: 100%;
	display: flex;
	align-items: center;
	padding-left: 5px;
}

.logo a {
	transition: color 0.5s;
	font-weight: 600;
	letter-spacing: normal;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
}

.logo img {
	width: 20px;
	height: 50px;
}

.logo a:hover {
	color: var(--color2);
}

.nav-ul {
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0 15px 0 20px;
	list-style: none;
	height: 56px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.nav-ul li {
	padding: 0 5px;
	cursor: pointer;
}

.nav-ul li a {
	display: flex;
	align-items: center;

	height: 56px; /*En lugar de 60px debido a los 4px de la progressBar*/
	/* width: 120px; */
}

.nav-ul li:hover,
.nav-ul li.active {
	background-image: linear-gradient(var(--color1), var(--color2));
	transform: skew(-30deg);
}

.nav-ul li:hover a,
.nav-ul li.active a {
	transform: skew(30deg);
	font-weight: 600;
}

/* mover boton hacia arriba y aparece nuevo desde abajo */
.mother {
	position: relative;
	top: 0;
	opacity: 1;
	transition: 0.3s;
}

.mother2 {
	position: absolute;
	top: 100%;
	opacity: 0;
	transition: 0.3s;
	display: none;
}

.nav-ul li:hover .mother {
	opacity: 0;
	top: -50px; /* Ajusta esta valor según tu necesidad para moverlo hacia arriba */
}

.nav-ul li:hover .mother2 {
	opacity: 1;
	top: 0;
}

/*ICONO HAMBURGER*/

.hamburger {
	display: none;
	cursor: pointer;
	flex-direction: column;
	justify-content: center;
	align-items: end;
	padding: 5px;
}

.hamburger :first-child {
	/*1ere barre pas de margin top*/
	margin-top: 0;
}

.bar1,
.bar2,
.bar3 {
	margin-top: 6px;
	width: 30px;
	height: 6px;
	transform: skew(-30deg);
	background-color: white;
	transition: all 0.7s;
}

.open .bar1,
.open .bar2,
.open .bar3 {
	background-color: var(--color2);
}

.open .bar1 {
	transform: translateY(200%) rotate(-45deg);
}

.open .bar2 {
	opacity: 0;
	transform: rotate(45deg);
}

.open .bar3 {
	transform: translateY(-200%) rotate(45deg);
}

.noScroll {
	overflow: hidden;
}

/* PORTADA */
#portada {
	width: 100%;
	height: 100vh;
	position: relative;
}

.portada__titulo {
	position: absolute;
	user-select: none;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	height: 100vh;
}

.portada__titulo h1 {
	font-size: 10vw;
	color: #fff;
	margin: 0px;
}

.portada__titulo h3 {
	font-size: 4vw;
	color: #fff;
	padding: 0 10px;
	margin: 0px;
}

.portada__video {
	opacity: 0.5;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

/* NOSOTROS */

#nosotros {
	padding-top: 60px;
}

.nosotros__container {
	/* VERRRRRRRRRRRRRRRRRRRRRRRR */
	display: grid;
	/* grid-template-columns: minmax(150px, 300px) minmax(150px, 300px); */
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.nosotros__container img {
	width: 400px;
	height: 400px;
	padding: 10px;
	margin: auto auto;
}

/* BOTONES FLOTANTES */
.botones__flotantes {
	bottom: 5px;
	right: 20px;
	display: flex;
	flex-direction: row;
	position: fixed;
	width: 140px;
	height: 140px;
	align-items: center;
	justify-content: space-around;
	z-index: 9999;
}

/* SERVICIOS */
#servicios {
	padding-top: 60px;
}

.servicios__container {
	width: 100%;
	background-image: url(../assets/img/bgOrange.svg);
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 20px;
}

.servicios__detalle {
	width: 100%;
	background-color: var(--colorbg1);
	padding: 20px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	transition: 1s ease;
}

.servicios__detalle summary {
	cursor: pointer;
	transition: 1s;
}

.servicios__detalle details {
	align-items: center;
	text-align: justify;
	padding: 20px;
	margin: 5px 0px;
	background-color: var(--colorbg2);
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
	transition: 1s;
}

.servicios__descripcion {
	width: 100%;
	background-color: var(--colorbg1);
	padding: 20px;
	text-align: justify;
	padding-inline-start: 0px;
}

/* GALERIA */
#galeria {
	padding-top: 60px;
}

/* SLIDER CARROUSEL */
.wrapper {
	display: flex;
	max-width: 1200px;
	position: relative;
}
.wrapper i {
	top: 50%;
	height: 44px;
	width: 44px;
	color: #343f4f;
	cursor: pointer;
	font-size: 1.15rem;
	position: absolute;
	text-align: center;
	line-height: 44px;
	background: #fff;
	border-radius: 50%;
	transform: translateY(-50%);
	transition: transform 0.1s linear;
}
.wrapper i:active {
	transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover {
	background: #f2f2f2;
}
.wrapper i:first-child {
	left: 0px;
	display: none;
}
.wrapper i:last-child {
	right: 0px;
}
.wrapper .carousel {
	font-size: 0px;
	cursor: grab;
	overflow: hidden;
	white-space: nowrap;
	scroll-behavior: smooth;
}
.carousel.dragging {
	cursor: grab;
	scroll-behavior: auto;
}

.carousel img {
	height: 340px;
	object-fit: cover;
	user-select: none;
	margin-left: 14px;
	width: calc(100% / 3);
	cursor: grab;
}
.carousel img:first-child {
	margin-left: 0px;
}

/* INSTAGRAM */

.instagram__container {
	width: 100%;
	padding: 60px 10px;
	z-index: 1;
}

.instagram__container p {
	text-align: center;
}

/* CONTACTO */
#contacto {
	padding-top: 60px;
}

.contacto__container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.datos {
	/* 	display: flex;
	flex-direction: column;
	align-items: center; */
	text-align: justify;
}

/* FORMULARIO DE CONTACTO */
form {
	display: grid;
	place-items: center;
}

.inputGroup {
	margin: 1em 2em;
	width: 40vw;
	position: relative;
}

form .inputGroup input {
	font-size: 100%;
	font-weight: 600;
	padding: 0.8em;
	outline: none;
	border: 2px solid var(--colorfont1);
	background-color: transparent;
	width: 100%;
	color: var(--colorfont1);
	transform: skew(-30deg);
}

form .inputGroup label {
	font-size: 100%;
	font-weight: 600;
	position: absolute;
	left: 0;
	padding: 0.8em;
	margin-left: 0.5em;
	pointer-events: none;
	transition: all 0.3s ease;
}

.inputGroup :is(input:focus, input:valid) ~ label {
	transform: skew(-30deg);
	transform: translateY(-50%) scale(0.9);
	margin: 0em;
	margin-left: 1.3em;
	padding: 0.4em;
	background-image: linear-gradient(var(--color1), var(--color2));
	color: #000;
}

.inputGroup :is(input:focus, input:valid) {
	border-color: var(--color2);
}

/* botón de formulario de contacto */
.boton-form {
	width: 35vw;
	padding: 0.8em;
	position: relative;
	outline: none;
	border: 2px solid #000;
	background-image: linear-gradient(var(--color1), var(--color2));
	color: #000;
	font-weight: 600;
	transform: skew(-30deg);
	text-transform: uppercase;
	cursor: pointer;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
}

.boton-form:hover {
	border-color: var(--color2);
	color: var(--color2);
	background-image: none;
	background-color: var(--colorbg1);
}

.type1::after {
	content: 'ENVIAR';
	height: 40px;
	width: 35vw;
	background-color: var(--colorbg1);
	color: var(--color2);
	position: absolute;
	top: 0%;
	left: 0%;
	transform: translateY(50px);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.5s ease-in-out;
}

.type1:hover::after {
	transform: translateY(0) scale(1.2);
}

/* MAPA */

.mapa {
	margin: 60px 0px 60px 0px;
	width: 100%;
	height: 450px;
}

/* BOTON WHATSAPP FLOTANTE */

.btn-wsp {
	display: none;
	width: 55px;
	height: 55px;
	line-height: 55px;
	background-image: linear-gradient(#0df053, #1daf4b);
	color: #fff;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.9);
	z-index: 1;
	animation: /* pulse */ floating 2s infinite ease-in-out alternate;
	transition: 0.3s;
	cursor: pointer;
}

.btn-wsp:hover {
	text-decoration: none;
	background-image: linear-gradient(var(--color1), var(--color2));
	color: #000;
	transition: 0.3s;
}

/* BOTON ARRIBA- UP */
.btn-up {
	display: none;
	width: 55px;
	height: 55px;
	line-height: 55px;
	background-image: linear-gradient(var(--color1), var(--color2));
	color: #fff;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.9);
	z-index: 1;
	transition: 0.3s;
	animation: floating 2s infinite ease-in-out alternate;
}

.btn-up:hover {
	text-decoration: none;
	background-image: linear-gradient(var(--color1), var(--color2));
	color: #000;
	transition: 0.3s;
}

.show-btn {
	display: block;
}

.hide-btn {
	display: none;
}

.botones__flotantes a,
.botones__flotantes i {
	cursor: pointer;
}

/**Footer**/

footer {
	height: 200px;
	color: var(--colorfont2);
	background-color: var(--colorbg2);
	box-shadow: 0px -3px 3px 0 var(--color2);
	transition: box-shadow 1s;
}

.shadowFooter {
	box-shadow: 1px -6px 5px 2px rgba(255, 140, 0, 0.674);
}

/*MEDIA QUERIES- RESPONSIVE*/

@media (max-width: 970px) {
	/* NAVBAR */
	header {
		font-size: 1.2em;
	}
	.hamburger {
		display: flex;
	}

	.navbar {
		grid-template-columns: 10fr 1fr;
	}
	.nav-ul {
		position: fixed;
		top: 60px;
		left: -100%;
		width: 100%;
		height: 100%;
		flex-direction: column;
		justify-content: start;
		-webkit-backdrop-filter: blur(4px);
		backdrop-filter: blur(4px);
		background-color: rgba(0, 0, 0, 0.4);
		transition: transform 0.5s ease-out;
		overflow: hidden;
	}
	.slide {
		transform: translate(100%);
	}
	.nav-ul li {
		justify-content: left;
		margin-left: 15px;
		/* padding-left: 5px; */
		width: 50%;
		border-bottom: 1px solid rgba(192, 127, 6, 0.2);
	}

	/* efecto texto en NAVBAR responsive */
	.mother {
		position: relative;
		left: 0;
		opacity: 1;
		transition: 0.3s;
		padding-left: 10px;
	}

	.mother2 {
		position: absolute;
		left: 50px;
		opacity: 0;
		transition: 0.3s;
		display: none;
		padding: 0 20px;
	}

	.nav-ul li:hover .mother {
		opacity: 0;
		left: -50px;
		top: 0;
	}

	.nav-ul li:hover .mother2 {
		opacity: 1;
		left: 0;
		top: 0;
	}

	/* GALERIA */
	/* SLIDER CARROUSEL */
	.carousel img {
		width: calc(100% / 2);
	}

	/* CONTACTO */
	.contacto__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}

	form {
		margin-top: 1.5em;
	}

	.inputGroup {
		width: 60vw;
	}
}

@media (max-width: 385px) {
	/* NAVBAR */
	header {
		font-size: 0.9em;
	}

	/* GALERIA */
	/* SLIDER CARROUSEL */
	.carousel img {
		width: 100%;
	}

	/* CONTACTO */
	/* FORMULARIO */

	form {
		margin: 0 20px;
	}

	.inputGroup {
		width: 85vw;
	}

	/* 	.type1::after {
		width: 25vw;
	} */
}
